html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.w100 {
  width: 150px;
}

.w80 {
  width: 80px;
}

body {
  margin: 0;
  padding: 0px;
  font-size: 15px;
  color: #474747;
  background-color: #fff;
}

/* sass */
.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
}

.wrapper h1 span {
  font-size: 20px;
}

.wrapper nav ul li {
  border: 1px solid #000;
}

.wrapper nav {
  background-color: #c7c7c7;
  width: 100%;
}

.wrapper nav ul {
  list-style: none;
}

.wrapper nav ul li {
  width: 100px;
  height: 30px;
  display: inline-block;
  background-color: #15fc00;
}

.wrapper nav ul li:hover {
  background-color: #11c900;
  cursor: pointer;
}

.wrapper .section .left {
  float: left;
  width: 49.5%;
  height: 400px;
  background-color: #d5d5d5;
}

.wrapper .section .left .btn {
  padding: 10px;
  text-align: center;
  background-color: #2aff58;
  color: #0059ff;
  border: 1px solid #0059ff;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper .section .left .btn:hover {
  background-color: #06ff3c;
}

.wrapper .section .left .btn2 {
  padding: 8px;
  text-align: center;
  background-color: #ff3300;
  color: #ea00ff;
  border: 1px solid #ea00ff;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper .section .left .btn2:hover {
  background-color: #db2c00;
}

.wrapper .section .left .btns {
  max-width: 100px;
  padding: 8px 13px;
  background-color: #0019fa;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.wrapper .section .left .btns:hover {
  background-color: #2e43ff;
}

.wrapper .section .left #btn-wide {
  max-width: 120px;
  padding: 12px 18px;
  background-color: #d84f00;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.wrapper .section .left #btn-wide:hover {
  background-color: #ff650c;
}

.wrapper .section .left #btn-small {
  max-width: 80px;
  padding: 4px 10px;
  background-color: #66be00;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 1px 1px 10px #1d9100;
}

.wrapper .section .left #btn-small:hover {
  background-color: #81f100;
}

.wrapper .section .right {
  float: right;
  width: 49.5%;
  height: 400px;
  background-color: #d5d5d5;
}

.wrapper .section::before {
  content: '';
  clear: both;
}

.box-plus {
  width: 300px;
  height: 100px;
  margin: 400px;
  font-size: 10px;
}

.width {
  font-size: 14px;
  font-size: 13px;
  font-size: 13px;
}

h1, h2 {
  border-top: 1px solid #000;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 69px;
}

h3 {
  font-size: 53px;
  border-top: 1px solid #000;
}

h4 {
  font-size: 39px;
  border-top: 1px solid #000;
}

h5 {
  font-size: 18px;
  border-top: 1px solid #000;
}

.col-1 {
  width: 1px;
}

.col-2 {
  width: 2px;
}

.col-3 {
  width: 3px;
}

.col-4 {
  width: 4px;
}

.col-5 {
  width: 5px;
}

.col-6 {
  width: 6px;
}

.col-7 {
  width: 7px;
}

.col-8 {
  width: 8px;
}

.col-9 {
  width: 9px;
}

.col-10 {
  width: 10px;
}

.col-11 {
  width: 11px;
}

.col-12 {
  width: 12px;
}

.col-13 {
  width: 13px;
}

.col-14 {
  width: 14px;
}

.col-15 {
  width: 15px;
}

.col-16 {
  width: 16px;
}

.col-17 {
  width: 17px;
}

.col-18 {
  width: 18px;
}

.col-19 {
  width: 19px;
}

.col-20 {
  width: 20px;
}
/*# sourceMappingURL=style.css.map */