@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.login {
  width: 30%;
  height: 500px;
  background-color: #b1b1b1;
  border-top: 1px solid #5c5c5c;
  margin: 0 auto;
  box-shadow: 1px 2px 10px #000;
}

.login:hover {
  box-shadow: 1px 2px 50px black;
}

.login::after {
  content: '1200 以上';
}

@media all and (max-width: 1200px) {
  .login {
    background-color: #f82525;
  }
  .login::after {
    content: '1200';
  }
}

@media all and (max-width: 996px) {
  .login {
    background-color: #d6da00;
  }
  .login::after {
    content: '平板';
  }
}

@media all and (max-width: 720px) {
  .login {
    background-color: #006eff;
  }
  .login::after {
    content: '手機';
  }
}

/*bootstrap start */
/*bootstrap end */
.w100 {
  width: 150px;
}

.w80 {
  width: 80px;
}

body {
  margin: 0;
  padding: 0px;
  font-size: 15px;
  color: #474747;
  background-color: #fff;
}

/* sass */
.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
}

.wrapper h1 span {
  font-size: 20px;
}

.wrapper nav ul li {
  border: 1px solid #000;
}

.wrapper nav {
  background-color: #c7c7c7;
  width: 100%;
}

.wrapper nav ul {
  list-style: none;
}

.wrapper nav ul li {
  width: 100px;
  height: 30px;
  display: inline-block;
  background-color: #15fc00;
}

.wrapper nav ul li:hover {
  background-color: #11c900;
  cursor: pointer;
}

.wrapper .section .left {
  float: left;
  width: 49.5%;
  height: 400px;
  background-color: #d5d5d5;
}

.wrapper .section .left .btn {
  padding: 10px;
  text-align: center;
  background-color: #2aff58;
  color: #0059ff;
  border: 1px solid #0059ff;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper .section .left .btn:hover {
  background-color: #06ff3c;
}

.wrapper .section .left .btn2 {
  padding: 8px;
  text-align: center;
  background-color: #ff3300;
  color: #ea00ff;
  border: 1px solid #ea00ff;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper .section .left .btn2:hover {
  background-color: #db2c00;
}

.wrapper .section .left .btns {
  max-width: 100px;
  padding: 8px 13px;
  background-color: #0019fa;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.wrapper .section .left .btns:hover {
  background-color: #2e43ff;
}

.wrapper .section .left #btn-wide {
  max-width: 120px;
  padding: 12px 18px;
  background-color: #d84f00;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.wrapper .section .left #btn-wide:hover {
  background-color: #ff650c;
}

.wrapper .section .left #btn-small {
  max-width: 80px;
  padding: 4px 10px;
  background-color: #66be00;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 1px 1px 10px #1d9100;
}

.wrapper .section .left #btn-small:hover {
  background-color: #81f100;
}

.wrapper .section .right {
  float: right;
  width: 49.5%;
  height: 400px;
  background-color: #d5d5d5;
}

.wrapper .section::before {
  content: '';
  clear: both;
}

.box-plus {
  width: 300px;
  height: 100px;
  margin: 400px;
  font-size: 10px;
}

.width {
  font-size: 14px;
  font-size: 13px;
  font-size: 13px;
}

h1, h2 {
  border-top: 1px solid #000;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 69px;
}

h3 {
  font-size: 53px;
  border-top: 1px solid #000;
}

h4 {
  font-size: 39px;
  border-top: 1px solid #000;
}

h5 {
  font-size: 18px;
  border-top: 1px solid #000;
}

.col-md-1 {
  width: 8.33333%;
  background-color: #f52626;
}

.col-md-2 {
  width: 16.66667%;
  background-color: #f52626;
}

.col-md-3 {
  width: 25%;
  background-color: #f52626;
}

.col-md-4 {
  width: 33.33333%;
  background-color: #f52626;
}

.col-md-5 {
  width: 41.66667%;
  background-color: #f52626;
}

.col-md-6 {
  width: 50%;
  background-color: #f52626;
}

.col-md-7 {
  width: 58.33333%;
  background-color: #f52626;
}

.col-md-8 {
  width: 66.66667%;
  background-color: #f52626;
}

.col-md-9 {
  width: 75%;
  background-color: #f52626;
}

.col-md-10 {
  width: 83.33333%;
  background-color: #f52626;
}

.col-md-11 {
  width: 91.66667%;
  background-color: #f52626;
}

.col-md-12 {
  width: 100%;
  background-color: #f52626;
}

.boxs {
  width: 100px;
  height: 20px;
  background-color: #f10000;
}

.img-a1 {
  background-image: url("img/a1.png");
}

.img-a2 {
  background-image: url("img/a2.png");
}

.img-a3 {
  background-image: url("img/a3.png");
}

.img-a12 {
  background-image: url("img/a12.jpg");
}

.img-a22 {
  background-image: url("img/a22.jpg");
}

.img-a32 {
  background-image: url("img/a32.jpg");
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 10px;
}

span {
  font-size: 30px;
}

.box {
  font-size: 30px;
}

.aboutus_wrapper {
  width: 100%;
}

.aboutus_wrapper .box {
  width: 200px;
}

.contactus_wrapper {
  width: 1200px;
}

.contactus_wrapper .box {
  width: 100px;
}

.color_lighten_1 {
  background-color: #4b8d00;
  height: 50px;
  width: 300px;
}

.color_lighten_2 {
  background-color: #539d00;
  height: 50px;
  width: 300px;
}

.color_lighten_3 {
  background-color: #5bac00;
  height: 50px;
  width: 300px;
}

.color_lighten_4 {
  background-color: #64bb00;
  height: 50px;
  width: 300px;
}

.color_lighten_5 {
  background-color: #6ccb00;
  height: 50px;
  width: 300px;
}

.color_lighten_6 {
  background-color: #74da00;
  height: 50px;
  width: 300px;
}

.color_lighten_7 {
  background-color: #7ce900;
  height: 50px;
  width: 300px;
}

.color_lighten_8 {
  background-color: #84f800;
  height: 50px;
  width: 300px;
}

.color_lighten_9 {
  background-color: #8cff09;
  height: 50px;
  width: 300px;
}

.color_lighten_10 {
  background-color: #93ff18;
  height: 50px;
  width: 300px;
}

.color_darken_1 {
  background-color: #a43400;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_1:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_1:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.color_darken_2 {
  background-color: #942f00;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_2:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_2:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.color_darken_3 {
  background-color: #852a00;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_3:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_3:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.color_darken_4 {
  background-color: #762600;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_4:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_4:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.color_darken_5 {
  background-color: #672100;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_5:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_5:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.color_darken_6 {
  background-color: #571c00;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_6:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_6:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.color_darken_7 {
  background-color: #481700;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_7:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_7:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.color_darken_8 {
  background-color: #391200;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_8:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_8:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.color_darken_9 {
  background-color: #290d00;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_9:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_9:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.color_darken_10 {
  background-color: #1a0800;
  height: 50px;
  width: 300px;
  transition: all .3s ease;
}

.color_darken_10:hover {
  box-shadow: 1px 2px 10px #000;
}

.color_darken_10:hover:hover {
  box-shadow: 1px 2px 50px black;
}

.box {
  width: 100px;
  height: 20px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.left10 {
  position: relative;
  left: 10px;
}
/*# sourceMappingURL=style.css.map */