@import 'base/var';


body {
    margin: $margin;
    padding: 0px;
    font-size: $fontsize;
    color: $color;
    background-color: map-get($bg-color, white);
}

// @media all and (max-width: map-get($breakpoint, desktop)) {
//     .box {
//         width: 100px;

//     }
// }


// @media all and (max-width: map-get($breakpoint, medium)) {
//     .box {
//         width: 100px;

//     }
// }


// @media all and (max-width: map-get($breakpoint, small)) {
//     .box {
//         width: 100px;

//     }
// }


// @media all and (max-width: map-get($breakpoint, small)) {
//     .box2 {
//         width: 400px;

//     }
// }

// sass
/* sass */
.wrapper {
    width: 1200px;
    margin: 0 auto;
    h1 {
        font-size: 40px;
        span {
            font-size: 20px;
        }
    }
    nav {
        background-color: rgb(199, 199, 199);
        width: 100%;

        ul {
            list-style: none;

            li {
                width: 100px;
                height: 30px;
                display: inline-block;
                background-color:  map-get($bg-color , yellow);
            }
        }
    }
}