@import 'base/var';
@import 'modules/btn';

@mixin margin_auto($width, $bgc:null) {
    margin: 0 auto;
    width: $width;
    background-color: $bgc;

}

.w100 {
    width: 150px;
}

.w80 {
    width: 80px;
}



body {
    margin: $margin;
    padding: 0px;
    font-size: $fontsize;
    color: $color;
    background-color: map-get($bg-color, white);
}

// @media all and (max-width: map-get($breakpoint, desktop)) {
//     .box {
//         width: 100px;

//     }
// }


// @media all and (max-width: map-get($breakpoint, medium)) {
//     .box {
//         width: 100px;

//     }
// }


// @media all and (max-width: map-get($breakpoint, small)) {
//     .box {
//         width: 100px;

//     }
// }


// @media all and (max-width: map-get($breakpoint, small)) {
//     .box2 {
//         width: 400px;

//     }
// }

// sass
/* sass */
.wrapper {
    @include margin_auto(1200px, #fff);

    h1 {

        span {
            font-size: 20px;
        }
    }

    %border-outline {
        border: 1px solid #000;
    }

    nav {
        background-color: rgb(199, 199, 199);
        width: 100%;

        ul {
            list-style: none;

            li {
                width: 100px;
                height: 30px;
                display: inline-block;
                background-color: $btn-color;
                @extend %border-outline;

                &:hover {
                    background-color: darken($btn-color, 10);
                    cursor: pointer;
                }
            }
        }
    }

    .section {
        .left {
            float: left;
            width: 49.5%;
            height: 400px;
            background-color: rgb(213, 213, 213);

            .btn {
                @include btn(10px, rgb(42, 255, 88), rgb(0, 89, 255))
            }

            .btn2 {
                @include btn(8px, rgb(255, 51, 0), rgb(234, 0, 255))
            }

            @include btncom('.btns', 100px, rgb(0, 25, 250));
            @include btncom('#btn-wide', 120px, rgb(216, 79, 0), 'big');

            @include btncom('#btn-small', 80px, rgb(102, 190, 0), 'small') {
                margin-top: 10px;
                box-shadow: 1px 1px 10px rgb(29, 145, 0);
            }



        }

        .right {
            float: right;
            width: 49.5%;
            height: 400px;
            background-color: rgb(213, 213, 213);
        }

        &::before {
            content: '';
            clear: both;
        }
    }
}


$a : 100;
$b: 200;

.box-plus {
    width: $b + $a + px;
    height: $b - $a + px;
    margin: 10 * (20 + 20px);
    font-size: (20px / 2);
}


.width {
    font-size: ceil(13.1px); //無條件進位
    font-size: floor(13.5px); // 捨去
    font-size: round(13.2px); // 四捨五入
}


@mixin border( $dir , $bordercolor){
   border-#{$dir} :  1px solid $bordercolor 
} 


@mixin htitle ($fontsizes) {
    %borderbottom {
        border-top: 1px solid #000;
    } 
    h1 {
        font-size: round($fontsizes * 5);
        @extend %borderbottom;
        // @include border (top , #000);
        
    }

    h2 {
        font-size: round($fontsizes * 4.6);
        @extend %borderbottom;
        // @include border (top , #000);
       
       
    }

    h3 {
        font-size: round($fontsizes * 3.5);
        @include border (top , #000);
       
    }

    h4 {
        font-size: round($fontsizes * 2.6);
        @include border (top , #000);
       
    }

    h5 {
        font-size: round($fontsizes * 1.2);
        @include border (top , #000);
       
    }
}


@include htitle($fontsize);