
$fontsize : 14px;
$color : rgb(71, 71, 71);
$margin :   40px;
$bg-color : (blue : rgb(2, 38, 238),
    yellow : rgb(255, 230, 0),
    gray : #eee,
    white : #fff);


$breakpoint : (desktop : 1366px,
    medium : 996px,
    small : 450px);